In [173]:
'''
Docstring
'''
def Solve(N, M, C):
    remainder = 0
    for i in range(0,N):
        remainder = remainder + (C[i] % M)
        remainder = remainder % M
    return remainder


with open("test_set_1/ts1_input.txt", encoding = 'utf-8') as f:
    data = [list(map(int, line.strip().split(' '))) for line in f]
    
    
count = 0
for i in range(len(data)-1):
    if i % 2 == 0:
        count += 1
        N = data[i+1][0]
        M = data[i+1][1]       
    else:
        C = data[i+1]
        remainder = Solve(N,M,C)
        print("Case #{}: {}".format(count, remainder))

Case #1: 9132
Case #2: 367
Case #3: 3025
Case #4: 2802
Case #5: 7735
Case #6: 4599
Case #7: 4706
Case #8: 592
Case #9: 7310
Case #10: 2210
Case #11: 2458
Case #12: 7716
Case #13: 5540
Case #14: 468
Case #15: 2200
Case #16: 6063
Case #17: 648
Case #18: 1376
Case #19: 2753
Case #20: 4156
Case #21: 792
Case #22: 282
Case #23: 1583
Case #24: 739
Case #25: 1620
Case #26: 3016
Case #27: 5448
Case #28: 1038
Case #29: 0
Case #30: 307
Case #31: 472
Case #32: 2173
Case #33: 8157
Case #34: 2441
Case #35: 5470
Case #36: 1193
Case #37: 7472
Case #38: 855
Case #39: 3849
Case #40: 3584
Case #41: 60
Case #42: 2754
Case #43: 631
Case #44: 1528
Case #45: 180
Case #46: 1155
Case #47: 116
Case #48: 6353
Case #49: 7861
Case #50: 699
Case #51: 9272
Case #52: 2463
Case #53: 318
Case #54: 5379
Case #55: 937
Case #56: 327
Case #57: 984
Case #58: 30
Case #59: 3639
Case #60: 4327
Case #61: 2333
Case #62: 2215
Case #63: 57
Case #64: 88
Case #65: 1266
Case #66: 1396
Case #67: 2631
Case #68: 465
Case #69: 704
Case #70: 630
Case #71: 3877
Case #72: 1536
Case #73: 1052
Case #74: 911
Case #75: 2883
Case #76: 133
Case #77: 2203
Case #78: 5748
Case #79: 1771
Case #80: 1393
Case #81: 5934
Case #82: 3545
Case #83: 7037
Case #84: 7329
Case #85: 4429
Case #86: 1197
Case #87: 453
Case #88: 797
Case #89: 394
Case #90: 3539
Case #91: 229
Case #92: 4203
Case #93: 1769
Case #94: 6915
Case #95: 2701
Case #96: 2523
Case #97: 1862
Case #98: 1
Case #99: 2052
Case #100: 8617

In [72]:
import numpy as np

array = np.loadtxt('sample_test_set_1/sample_ts1_input.txt', delimiter=",", dtype=str)
print(array)

['2' '7 3' '1 2 3 4 5 6 7' '5 10' '7 7 7 7 7']